.container {
  max-width: 42em;
}

div.summary {
  margin-top: 1em;
}

.post-date a.label {
  display: block;
  float: right;
  margin-top: 0.25em;
}

ul.posts li a.label {
  display: inline;
  float: none;
  margin-top: 0.25em;
}

div.info {
  position: relative;
  background: #a5dee4;
  padding: 2em 2em 1em;
  margin: 1em auto;
  z-index: 9;
  font-size: 13pt;
}

div.info:before {
  font-size: 12pt;
  content: attr(data-title);
  color: #fff;
  background: #33a6b8;
  display: block;
  position: absolute;
  top: -.5em;
  left: -1em;
  padding: 0.5em 2em 0.5em;
}

div.info:after {
  font-size: 12pt;
  content: " ";
  display: block;
  position: absolute;
  border: .5em solid transparent;
  border-top-color: #2b5f75;
  border-right-color: #2b5f75;
  top: 2em;
  left: -1em;
  z-index: -999;
}

div.info p {
  margin-bottom: 0;
  margin-top: 0.5em;
}

div.info.warning {
  background: #f4a7b9;
}

div.info.warning:before {
  content: attr(data-title);
  background: #db4d6d;
}

div.info.warning:after {
  border-top-color: #9f353a;
  border-right-color: #9f353a;
}
